@mixin line-limit($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

@mixin k-text-overflow($width) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin border-none() {
  border: none !important;
  box-shadow: none !important;
}

@mixin scrollbar {
  /** for firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--GY03), 0.5);

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--GY03), 0.5);
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--GY03), 0.7);
  }
}

@mixin noscrollbar {
  /** for firefox */
  scrollbar-width: none;

  /* width */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 2px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

@mixin act-btn {
  margin-right: 4px;
  font-size: 16px;
  color: #aeafb2;
}

@mixin placeholder-color {
  color: rgba(#999, 0.7);
}

@mixin disabled-bg {
  background: #fafafa;
}

@mixin placeholder {
  &::placeholder {
    font-weight: normal;
    opacity: 0.7;
    @include placeholder-color();
  }
}

@mixin textarea {
  box-sizing: border-box;
  position: relative;
  margin-right: 16px;
  margin-left: -4px;
  padding: 5px 4px;
  width: calc(100vw - 590px);

  min-width: 480px;
  border-radius: 4px;
  line-height: 22px;
  word-break: unset;
  outline: none;
  background-color: transparent;
  resize: none;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  font-family: inherit;
  border: 1px solid transparent !important;
  box-shadow: none !important;
  text-align: justify;
  word-break: break-all;
  @include placeholder();
}

@mixin translateX($x: 0) {
  transform: translateX($x);
}

@mixin translateY($y: 0) {
  transform: translateY($y);
}

@mixin k-v-center() {
  top: 50%;
  @include translateY(-50%);
}

@mixin k-h-center() {
  left: 50%;
  @include translateX(-50%);
}

/** 如果自定义字体不存在，会走后面的字体  */
@mixin font-family($custom) {
  font-family:
    $custom -apple-system,
    BlinkMacSystemFont,
    'SF-Pro-Text',
    'Segoe UI',
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

/** 设置内容由显示变为隐藏 */
@keyframes fadenum {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/** 元素展开 */
@keyframes spread {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
